/* stylelint-disable order/properties-order */
@layer base, layout, components;

@layer base {
  :root {
    --link-bg: oklch(55% 0.18 260);
    --link-bg-hover: oklch(48% 0.18 260);
    --link-bg-active: oklch(80% 0.18 85);
    --link-focus-outline: oklch(70% 0.18 260);
  }

  :where(body) {
  }

  :where(main) {
    max-inline-size: 500px;
    min-block-size: 150px;
    border: 1px solid black;
  }

  @media (prefers-reduced-motion: no-preference) {
    ::view-transition-group(bar) {
      animation-duration: 1s;
    }

    ::view-transition-old(section) {
      animation-name: slide-out-left;
      animation-duration: 1s;
    }

    ::view-transition-new(section) {
      animation-name: slide-in-right;
      animation-duration: 1s;
    }

    ::view-transition-group(section) {
      overflow: clip;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none;
    }
  }

  @keyframes slide-out-left {
    from {
      opacity: 1;
      translate: 0;
    }

    to {
      opacity: 0;
      translate: -100%;
    }
  }

  @keyframes slide-in-right {
    from {
      opacity: 0;
      translate: 100%;
    }

    to {
      opacity: 1;
      translate: 0;
    }
  }
}

@layer layout {
}

@layer components {
  .links {
    display: flex;
    margin: 0 0 2rem;
    padding: 0;
    list-style: none;
    flex-flow: row nowrap;
    gap: 0.5rem;
  }

  .link {
    align-items: center;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: 1px solid currentcolor;
    background: var(--link-bg);
    color: contrast-color(var(--link-bg));
    text-decoration: none;
    text-align: center;

    &:is(:hover, :focus-visible) {
      background: var(--link-bg-hover);
      color: contrast-color(var(--link-bg-hover));
      text-decoration: underline;
    }

    &:is(:focus-visible) {
      outline: 2px solid var(--link-focus-outline);
      outline-offset: 2px;
    }

    &[aria-current='page'] {
      position: relative;
      text-decoration: underline;
      background: var(--link-bg-active);
      color: contrast-color(var(--link-bg-active));

      &::after {
        content: '';
        position: absolute;
        inset: 0 0 -1rem;
        block-size: 0.5rem;
        align-self: end; /* https://github.com/maurer2/trickle-down-features */
        background: var(--link-bg-active);
        view-transition-name: bar;
      }
    }
  }

  .section {
    padding: 1rem;
    view-transition-name: section;

    &:not([hidden]) {
      display: flow-root;
    }
  }
}
