:root {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  inline-size: 100dvw;
  block-size: 100dvh;
  overflow: clip;
  background: #000;
}

.root {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
}

/* /src/components/MainContent/MainContent.styles.ts */
html:active-view-transition-type(slide-in-and-out) {
  &::view-transition-old(slide-in-and-out) {
    animation: 0.5s linear both slide-out;
  }
  &::view-transition-new(slide-in-and-out) {
    animation: 0.5s linear both slide-in;
  }
}

@keyframes slide-out {
  from {
    translate: 0;
    opacity: 1;
  }
  to {
    translate: -100%;
    opacity: 0.01;
  }
}

@keyframes slide-in {
  from {
    translate: 100%;
    opacity: 0.01;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

/* stylelint-enable */
