:root {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  inline-size: 100dvw;
  block-size: 100dvh;
  overflow: clip;
  background: #000;
}

.root {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
}

html:active-view-transition-type(move-left) {
  &::view-transition-old(slide-master) {
    animation: 0.5s linear both slide-from-right reverse;
  }
  &::view-transition-new(slide-master) {
    animation: 0.5s linear both slide-from-left;
  }
}

html:active-view-transition-type(move-right) {
  &::view-transition-old(slide-master) {
    animation: 0.5s linear both slide-from-left reverse;
  }
  &::view-transition-new(slide-master) {
    animation: 0.5s linear both slide-from-right;
  }
}

@keyframes slide-from-left {
  from {
    translate: -100%;
    opacity: 0.01;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

@keyframes slide-from-right {
  from {
    translate: 100%;
    opacity: 0.01;
  }
  to {
    translate: 0;
    opacity: 1;
  }
}

/* stylelint-enable */
